export class <%= hyphenToCapital(name) %>Query {
  constructor(
    public readonly id?: string,
    public readonly filter?: Record<string, unknown>,
    public readonly limit?: number
  ) {}

  static byId(id: string): <%= hyphenToCapital(name) %>Query {
    return new <%= hyphenToCapital(name) %>Query(id);
  }

  static find(filter?: Record<string, unknown>, limit?: number): <%= hyphenToCapital(name) %>Query {
    return new <%= hyphenToCapital(name) %>Query(undefined, filter, limit);
  }
}
