import { EventsHandler, IEventHandler } from '@nestjs/cqrs';
import { <%= hyphenToCapital(eventName) %>Event } from '@domain/events/<%= eventName %>.event';
import { Logger } from '@nestjs/common';

@EventsHandler(<%= hyphenToCapital(eventName) %>Event)
export class <%= hyphenToCapital(name) %>EventHandler implements IEventHandler<<%= hyphenToCapital(eventName) %>Event> {
  private readonly logger = new Logger(<%= hyphenToCapital(name) %>EventHandler.name);

  async handle(event: <%= hyphenToCapital(eventName) %>Event): Promise<void> {
    this.logger.debug(`Handling <%= hyphenToCapital(eventName) %>Event: ${JSON.stringify(event)}`);
    
    // Add your event handling logic here
    // This could include:
    // - Updating read models
    // - Triggering side effects
    // - Publishing notifications
    // - etc.
  }
}
