export class <%= hyphenToCapital(name) %>Command {
  constructor(
    public readonly id: string,
    public readonly data?: Record<string, unknown>
  ) {}

  static create(id: string, data?: Record<string, unknown>): <%= hyphenToCapital(name) %>Command {
    return new <%= hyphenToCapital(name) %>Command(id, data);
  }
}
