import { <%= hyphenToCapital(name) %>, <%= hyphenToCapital(name) %>Id } from '../aggregates/<%= name %>.aggregate';

export abstract class <%= hyphenToCapital(name) %>Repository {
  abstract getById(id: <%= hyphenToCapital(name) %>Id): Promise<<%= hyphenToCapital(name) %>>;
  abstract getByIds(ids: <%= hyphenToCapital(name) %>Id[]): Promise<<%= hyphenToCapital(name) %>[]>;
  abstract save(instance: <%= hyphenToCapital(name) %>): Promise<void>;
}
